*{
    margin: 0;
    padding: 0;
}

body{
  background: #E5E5E5;
  font-family: 'Montserrat', sans-serif;
}
.menu {
  height: 100px;
  background-color: #ffffff;
  box-shadow: 00px 4px 7px 0px #81818140;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.menu__ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
    padding-left: 40px;
}
.menu__li{
    display: flex;
    justify-content: space-between;
    justify-content: flex-start;
    align-items: center;
}
.header{
  padding: 0 50px;
  height: 100px;
  width: 100%;
  box-sizing: border-box;
}

.menu__link {
  color: #000000;
  font-weight: 300;
  font-size: 16px;
  font-style: normal;
  text-decoration: none;
  margin: 0 10px;
  flex-wrap: wrap;
}
.menu__link:hover {
  color: #05a88d;
}
.menu__logo {
  color: #05a88d;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin: 0 auto;
}

.menu__logo:hover {
  font-size: 30px;
}

.buttons{
    margin-left: auto;
}

.menu__signup {
  color: #05a88d;
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #05a88d;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 12.5px;
  margin-right: 20px;
}

.menu__signup:hover {
    background-color: black;
}

.menu__login {
  color: #05a88d;
  border: none;
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  margin-right: 20px;
}

.menu__login:hover {
  border: 1px solid #05a88d; 
  border-radius: 3px;
  padding: 12.5px; 
}